sudo: required
services:
  - docker

before_install:
  - docker build -t hemanth/docker-react -f Dockerfile.dev .
# added a comment for script tag
script:
  - docker run -e CI=true hemanth/docker-react npm run test
deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-1-099249765807"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
