sudo: required
services:
  - docker

before_install:
  - docker build -t hemanth/docker-react -f Dockerfile.dev .
# added a comment for script tag
script:
  - docker run hemanth/docker-react npm run test -- --coverage
